annotated-types
anyio
bcrypt
cffi
charset-normalizer
click
cryptography
dnspython
ecdsa
email_validator
fastapi
h11
idna
motor
numpy
pandas
passlib
pdfminer.six
pdfplumber
pillow
pyasn1
pycparser
pydantic
pydantic-settings
pydantic_core
pymongo
PyPDF2
pypdfium2
python-dateutil
python-dotenv
python-jose
python-multipart
pytz
rsa
six
sniffio
starlette
typing_extensions
tzdata
uvicorn
